In [1]:
Product.objects.all()

In [7]:
for i in Product.objects.all():
    print(i.pk, i.name, i.category, i.price, i.image)

1 beef M 500.00 beef.jpg
2 chicken M 200.00 chicken.png
3 pork M 350.00 pig.png
4 chili V 5.00 chili.jpg
5 carrot V 12.00 carrot.jpg
6 rabbit M 123.00 pic3.jpg

In [5]:
for i in Product.objects.all():
    print(i.name, i.category, i.price, i.image)

beef M 500.00 beef.jpg
chicken M 200.00 chicken.png
pork M 350.00 pig.png
chili V 5.00 chili.jpg
carrot V 12.00 carrot.jpg
rabbit M 123.00 pic3.jpg

In [6]:
for i in Product.objects.filter(category='V'):
    print(i.name, i.category, i.price, i.image)

chili V 5.00 chili.jpg
carrot V 12.00 carrot.jpg

In [16]:
x = Product.objects.get(pk=4)
print(type(x))
print(x.pk, x)

<class 'myapp.models.Product'>
4 chili

In [18]:
x = Product.objects.all()
print(type(x))
print(x.query)
for i in x:
    print(i)

<class 'django.db.models.query.QuerySet'>
SELECT "myapp_product"."id", "myapp_product"."name", "myapp_product"."price", "myapp_product"."category", "myapp_product"."image" FROM "myapp_product"
beef
chicken
pork
chili
carrot
rabbit
product_y

In [20]:
x = Product.objects.filter(category='V')
print(x.query)

SELECT "myapp_product"."id", "myapp_product"."name", "myapp_product"."price", "myapp_product"."category", "myapp_product"."image" FROM "myapp_product" WHERE "myapp_product"."category" = V

In [21]:
for p in Product.objects.raw('SELECT * FROM myapp_product'):
    print(p)

beef
chicken
pork
chili
carrot
rabbit
product_y

In [22]:
x = Product.objects.filter(price=200)
print(x.query)

SELECT "myapp_product"."id", "myapp_product"."name", "myapp_product"."price", "myapp_product"."category", "myapp_product"."image" FROM "myapp_product" WHERE "myapp_product"."price" = 200

In [23]:
x = Product.objects.filter(price__lt=200)
print(x.query)

SELECT "myapp_product"."id", "myapp_product"."name", "myapp_product"."price", "myapp_product"."category", "myapp_product"."image" FROM "myapp_product" WHERE "myapp_product"."price" < 200

In [24]:
x = Product.objects.filter(price__lte=200)
print(x.query)

SELECT "myapp_product"."id", "myapp_product"."name", "myapp_product"."price", "myapp_product"."category", "myapp_product"."image" FROM "myapp_product" WHERE "myapp_product"."price" <= 200

In [11]:
y = Product(name='product_y', price=17)

In [12]:
type(y)

myapp.models.Product

In [13]:
y.save()

In [1]:
from import_export import resources
class ProductResource(resources.ModelResource):
    class Meta:
        model = Product

In [2]:
product_resource = ProductResource()
dataset = product_resource.export()

In [3]:
dataset.csv

'id,name,price,category,image\r\n1,beef,500.00,M,beef.jpg\r\n2,chicken,200.00,M,chicken.png\r\n3,pork,350.00,M,pig.png\r\n4,chili,5.00,V,chili.jpg\r\n5,carrot,12.00,V,carrot.jpg\r\n6,rabbit,123.00,M,pic3.jpg\r\n7,product_y,17.00,M,\r\n'

In [5]:
with open('myexcel.xls','wb') as f:
    f.write(dataset.xls)

In [6]:
%%sh
ls

Week5 Basic query.ipynb
db.sqlite3
manage.py
media
myapp
myexcel.xls
myproject
notebook
static
templates
var