In [2]:
x=Rent.objects.get(pk=1)
print(x.customer)

Panisara Prathipkomut

In [3]:
print(x.car)

Honda Yaris

In [4]:
x=Customer.objects.get(pk=1)
print(x)

Panisara Prathipkomut

In [5]:
x.rent_set.all()

In [7]:
print(Customer.objects.get(pk=1).rent_set.all().query)

SELECT "myapp_rent"."id", "myapp_rent"."start", "myapp_rent"."stop", "myapp_rent"."cost", "myapp_rent"."customer_id", "myapp_rent"."car_id" FROM "myapp_rent" WHERE "myapp_rent"."customer_id" = 1

In [8]:
print(Car.objects.get(pk=1).rent_set.all().query)

SELECT "myapp_rent"."id", "myapp_rent"."start", "myapp_rent"."stop", "myapp_rent"."cost", "myapp_rent"."customer_id", "myapp_rent"."car_id" FROM "myapp_rent" WHERE "myapp_rent"."car_id" = 1

In [9]:
#รถคันที่1มีใครยืมบ้าง
for i in Car.objects.get(pk=1).rent_set.all():
    print(i.customer)

Panisara Prathipkomut

In [10]:
#รถคันที่2มีใครยืมบ้าง
for i in Car.objects.get(pk=2).rent_set.all():
    print(i.customer)

Natchakorn Tirakul

In [14]:
#รถคันที่1มีใครยืมบ้าง
for i in Rent.objects.filter(car__pk=1):
    print(i.customer)

Panisara Prathipkomut

In [15]:
%%timeit -n1
for i in Car.objects.get(pk=1).rent_set.all():
    print(i.customer)

Panisara Prathipkomut
Panisara Prathipkomut
Panisara Prathipkomut
Panisara Prathipkomut
Panisara Prathipkomut
Panisara Prathipkomut
Panisara Prathipkomut
3.07 ms ± 531 µs per loop (mean ± std. dev. of 7 runs, 1 loop each)

In [16]:
%%timeit -n1 #จับเวลา
for i in Rent.objects.filter(car__pk=1):
    print(i.customer)

Panisara Prathipkomut
Panisara Prathipkomut
Panisara Prathipkomut
Panisara Prathipkomut
Panisara Prathipkomut
Panisara Prathipkomut
Panisara Prathipkomut
2.3 ms ± 447 µs per loop (mean ± std. dev. of 7 runs, 1 loop each)

In [17]:
print(Rent.objects.filter(car__pk=1).query)

SELECT "myapp_rent"."id", "myapp_rent"."start", "myapp_rent"."stop", "myapp_rent"."cost", "myapp_rent"."customer_id", "myapp_rent"."car_id" FROM "myapp_rent" WHERE "myapp_rent"."car_id" = 1

In [18]:
#ลูกค้าคนแรกยืมรถไปเป็นเงินทั้งหมดเท่าไหร่
sum=0
for i in Customer.objects.get(pk=1).rent_set.all():
    sum+=i.cost
print(sum)

300.00

In [20]:
#ลูกค้าคนที่3ยืมรถไปเป็นเงินทั้งหมดเท่าไหร่
sum=0
for i in Customer.objects.get(pk=3).rent_set.all():
    sum+=i.cost
print(sum)

560.00

In [21]:
#ลูกค้าคนแรกยืมรถไปเป็นเงินทั้งหมดเท่าไหร่ แบบที่2
sum=0
for i in Rent.objects.filter(customer__pk=1):
    sum+=i.cost
print(sum)

300.00

In [24]:
Rent.objects.values('customer')

In [25]:
Rent.objects.values('customer').annotate(Sum('cost'))

In [31]:
Rent.objects.filter(customer__pk=1).values('customer').annotate(Sum('cost'))

In [32]:
print(Rent.objects.values('customer').annotate(Sum('cost')).query)

SELECT "myapp_rent"."customer_id", CAST(SUM("myapp_rent"."cost") AS NUMERIC) AS "cost__sum" FROM "myapp_rent" GROUP BY "myapp_rent"."customer_id"

In [33]:
print(Rent.objects.filter(customer__pk=1).values('customer').annotate(Sum('cost')).query)

SELECT "myapp_rent"."customer_id", CAST(SUM("myapp_rent"."cost") AS NUMERIC) AS "cost__sum" FROM "myapp_rent" WHERE "myapp_rent"."customer_id" = 1 GROUP BY "myapp_rent"."customer_id"